In [1]:
import os
import pandas as pd

root = '/workspace/data/도서대출자료'
month = '1월'
book_file_name = '부산영어도서관 장서 대출목록 (2024년 01월).xlsx'

df_book = pd.read_excel(os.path.join(root, month, book_file_name))
df_book = df_book.loc[:, ['도서명', '저자', '출판사', '권', '도서권수', '대출건수', 'ISBN', '등록일자']]
display(df_book)

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,도서명,저자,출판사,권,도서권수,대출건수,ISBN,등록일자
0,Zoe's rescue zoo.,Amelia Cobb;illustrated by Sophy Williams,Nosy Crow Ltd,9,1,0,9781788009324,2023-12-16
1,Zoe's rescue zoo.,Amelia Cobb;illustrated by Sophy Williams,Nosy Crow Ltd,8,1,1,9781788004367,2023-12-16
2,Zoe's rescue zoo.,Amelia Cobb;illustrated by Sophy Williams,Nosy Crow Ltd,10,1,1,9781788009331,2023-12-16
3,Zoe's rescue zoo.,Amelia Cobb;illustrated by Sophy Williams,NosyCrow,7,1,1,9781788002981,2023-12-16
4,Zoe's rescue zoo.,Amelia Cobb;illustrated by Sophy Williams,Nosy Crow Ltd,6,1,0,9781788001502,2023-12-16
...,...,...,...,...,...,...,...,...
86230,Dinosaur train,by John Steven Gurney,New York:Scholastic,NaN,3,70,9780439631051,2009-03-11
86231,Clap your hands:Adaptado al espanol por martha...,by Lorinda Bryan Cauley,Scholastic,NaN,3,34,9780590470674,2009-03-11
86232,Beatrice doesn't want to,by Laura Numeroff;ill. by Lynn Munsinger,Scholastic,NaN,2,64,9780439796071,2009-03-11
86233,Kindergarten kids,by Ellen B. Senisi,Scholastic,NaN,3,2,9780590476140,2009-03-11
86234,I spy pirate treasure,by Dan Marzollo;photographs by Ward Yoshimoto,Scholastic,NaN,3,3,9780439455251,2009-03-11

## 데이터 결측치 개수

In [2]:
df_book.isnull().sum()

도서명         0
저자         51
출판사     15016
권       64598
도서권수        0
대출건수        0
ISBN        0
등록일자        0
dtype: int64