In [1]:
import os
import pandas as pd

root = '/workspace/data/도서대출자료'
month = '1월'
book_file_name = '부산광역시립구덕도서관 장서 대출목록 (2024년 01월).xlsx'

df_book = pd.read_excel(os.path.join(root, month, book_file_name))
df_book = df_book.loc[:, ['도서명', '저자', '출판사', '권', '도서권수', '대출건수', 'ISBN', '등록일자']]
display(df_book)

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,도서명,저자,출판사,권,도서권수,대출건수,ISBN,등록일자
0,너는 다시 외로워질 것이다:공지영 산문,공지영 지음,해냄,NaN,1,0,9791167140753,2024-01-31
1,퀴팅,줄리아 켈러,다산북스,NaN,1,0,9791130649245,2024-01-31
2,라디오 체조:오쿠다 히데오 장편소설,오쿠다 히데오 지음;이영미 옮김,은행나무,NaN,1,0,9791167373724,2024-01-31
3,혼자 잘 수 있어,난별 글;김진미 그림,책읽는곰,NaN,1,0,9791158364434,2024-01-31
4,짜증방,소중애 글;방새미 그림,거북이북스,NaN,1,0,9788966074396,2024-01-31
...,...,...,...,...,...,...,...,...
213992,뇌졸중=:,배철환 지음,신원문화사,8,1,5,9788935911783,2004-07-07
213993,심장질환,나인수 지음,신원문화사,7,1,6,9788935911776,2004-07-07
213994,(성공하는 직장인의 선택)뇌가 시원한 사람=:,신성일 지음,눈과마음,NaN,1,0,9788957511534,2004-07-07
213995,내 몸의 생체학=:,안횡균 지음,한언,NaN,1,0,9788955960372,2004-07-07
213996,(건강을 위한)웰빙 걷기=Wellbeing walking,이강옥 지음,가림출판사,NaN,1,1,9788978951661,2004-07-07

## 데이터 결측치 개수

In [2]:
df_book.isnull().sum()

도서명          0
저자          62
출판사       1636
권       182265
도서권수         0
대출건수         0
ISBN         0
등록일자         0
dtype: int64