In [1]:
import os
import pandas as pd

root = '/workspace/data/도서대출자료'
month = '1월'
book_file_name = '부산광역시립명장도서관 장서 대출목록 (2024년 01월).xlsx'

df_book = pd.read_excel(os.path.join(root, month, book_file_name))
df_book = df_book.loc[:, ['도서명', '저자', '출판사', '권', '도서권수', '대출건수', 'ISBN', '등록일자']]
display(df_book)

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,도서명,저자,출판사,권,도서권수,대출건수,ISBN,등록일자
0,판다 대백과,상상인 샹 글·그림;김진아 옮김,뭉치,NaN,1,0,9791163637479,2024-01-31
1,다시 페미니즘의 도전,정희진 지음,교양인,NaN,1,0,9791193154168,2024-01-31
2,K 반도체 대전략,권순용 지음,위즈덤하우스,NaN,1,0,9791171711079,2024-01-31
3,(유목민의)투자의 정석,유목민 지음,리더스북,NaN,1,0,9788901279282,2024-01-31
4,카페 샌드위치 마스터 클래스,노정희 지음,한즈미디어(한스미디어),NaN,1,0,9791160079814,2024-01-31
...,...,...,...,...,...,...,...,...
231044,진도다시래기,이경엽,국립문화재연구소,NaN,1,0,9788981244057,2004-06-17
231045,밀양백중놀이,김미숙,국립문화재연구소,NaN,1,0,9788981244040,2004-06-17
231046,승전무,엄옥자,국립문화재연구소,NaN,1,0,9788981244033,2004-06-17
231047,강강술래,나승만,국립문화재연구소,NaN,1,0,9788981244026,2004-06-17
231048,(전산실무에 사용하는)데이터베이스 MySQL 응용방안=:,김정환,홍릉과학출판사,NaN,1,0,9788972834441,2004-06-17

## 데이터 결측치 개수

In [2]:
df_book.isnull().sum()

도서명          7
저자          54
출판사       2286
권       198228
도서권수         0
대출건수         0
ISBN         0
등록일자         0
dtype: int64