In [1]:
import os
import pandas as pd

root = '/workspace/data/도서대출자료'
month = '1월'
book_file_name = '부산광역시립사하도서관 장서 대출목록 (2024년 01월).xlsx'

df_book = pd.read_excel(os.path.join(root, month, book_file_name))
df_book = df_book.loc[:, ['도서명', '저자', '출판사', '권', '도서권수', '대출건수', 'ISBN', '등록일자']]
display(df_book)

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,도서명,저자,출판사,권,도서권수,대출건수,ISBN,등록일자
0,(읽다 보면 문해력이 저절로) 그래서 이런 말이 생겼대요:우리말,우리누리 글;송진욱 그림,길벗스쿨,NaN,1,0,9791164066193,2024-01-23
1,따라 하다 보면 나도 AI디자이너:진짜 누구나 배울 수 있다!.,양현진 지음,리드썸,2,1,0,9791198436924,2024-01-23
2,따라 하다 보면 나도 AI디자이너:진짜 누구나 배울 수 있다!.,양현진 지음,리드썸,1,1,0,9791198436917,2024-01-23
3,지구의 온도가 1℃ 오르면 어떻게 되나요,"이두현 ,김선아 ,권미혜 ,조정은 ,전혜인 ,송윤경 ,한정원 ,강유재 지음",푸른길,NaN,1,1,9788962910223,2024-01-23
4,해녀들,채헌 지음,네오북스,NaN,1,0,9791157403721,2024-01-23
...,...,...,...,...,...,...,...,...
218551,고구려의 국가형성,이남규 외 지음,고구려연구재단,1,1,0,9788991448414,2004-06-09
218552,고분벽화로 본 고구려 문화,전호태 외 지음,고구려연구재단,2,1,0,9788991448407,2004-06-09
218553,정기간행물 현황,문화관광부,태웅출판사,NaN,1,0,9788972091486,2004-06-09
218554,한국도서관 연감,한국도서관 협회,한국도서관협회,2005,1,0,9788976780942,2004-06-09
218555,너도예수다,구웅회,현대기획,NaN,1,0,9788995235409,2004-06-09

## 데이터 결측치 개수

In [2]:
df_book.isnull().sum()

도서명          0
저자         101
출판사       3209
권       179449
도서권수         0
대출건수         0
ISBN         0
등록일자         0
dtype: int64